<table mat-table #myTable [dataSource]="questions" class="mat-elevation-z2">
  <ng-container matColumnDef="prt">
    <th mat-header-cell *matHeaderCellDef>{{'app.label.question' | translate}}</th>
    <td mat-cell *matCellDef="let question"> {{question.prt}} </td>
  </ng-container>

  <ng-container matColumnDef="rightAnswer">
    <th mat-header-cell *matHeaderCellDef>{{'app.label.rightAnswer' | translate}}</th>
    <td mat-cell *matCellDef="let question">
        <div> 
          <br>{{question.answer}}
        </div>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="option1">
    <th mat-header-cell *matHeaderCellDef>{{'app.label.option1' | translate}}</th>
    <td mat-cell *matCellDef="let question">
        <div> 
          <mat-icon color="primary" *ngIf="question.options[0] == question.answer">check_circle</mat-icon>
          <br>{{question.options[0]}}
        </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="option2">
    <th mat-header-cell *matHeaderCellDef>{{'app.label.option2' | translate}}</th>
    <td mat-cell *matCellDef="let question">
        <div> 
          <mat-icon color="primary" *ngIf="question.options[1] == question.answer">check_circle</mat-icon>
          <br>{{question.options[1]}}
        </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="option3">
    <th mat-header-cell *matHeaderCellDef>{{'app.label.option3' | translate}}</th>
    <td mat-cell *matCellDef="let question">
        <div> 
          <mat-icon color="primary" *ngIf="question.options[2] == question.answer">check_circle</mat-icon>
          <br>{{question.options[2]}}
        </div>
    </td>  </ng-container>

  <ng-container matColumnDef="option4">
    <th mat-header-cell *matHeaderCellDef>{{'app.label.option4' | translate}}</th>
    <td mat-cell *matCellDef="let question">
        <div> 
          <mat-icon color="primary" *ngIf="question.options[3] == question.answer">check_circle</mat-icon>
          <br>{{question.options[3]}}
        </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="button-area">
  <button mat-raised-button color="primary" (click)="tryAgain()">{{'app.button.tryAgain' | translate}}</button>
</div>