<br>
<br>
<h6>
  {{'app.description' | translate}}
</h6>
<br>
<br>
<div class="button-area">
  <button mat-raised-button color="primary" (click)="startQuiz()">{{'app.button.start' | translate}}</button>
</div>

