.radio-group {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
}

.radio-button {
    margin: 5px;
}

.question-title {
    font-size: 1.5em;
    font-weight: bold;
}

.evaluation-row {
    text-align: center;
}