<div *ngIf="step === 'ANSWERING'" class="questions-block">
  <div *ngFor="let answer of answers">
    <label class="question-title">{{answer.question.prt}}</label>
    <br>
    <mat-radio-group class="radio-group" [(ngModel)]="answer.answer">
      <mat-radio-button class="radio-button" [value]="answer.question.options[0]">{{answer.question.options[0]}}</mat-radio-button>
      <mat-radio-button class="radio-button" [value]="answer.question.options[1]">{{answer.question.options[1]}}</mat-radio-button>
      <mat-radio-button class="radio-button" [value]="answer.question.options[2]">{{answer.question.options[2]}}</mat-radio-button>
      <mat-radio-button class="radio-button" [value]="answer.question.options[3]">{{answer.question.options[3]}}</mat-radio-button>
    </mat-radio-group>
    <br><br>
  </div>
  <div class="button-area">
    <button mat-raised-button color="primary" (click)="finishAnswering()">{{'app.button.seeResults' | translate}}</button>
  </div>
</div>
<div *ngIf="step === 'RESULT'">
  <div class="evaluation-row">
    <div *ngIf="result >= 9">
      <fa-icon style="color: goldenrod" class="fa-6x" [icon]="faCrown"></fa-icon>
      <h4 style="color: goldenrod">{{result}}/10</h4>
      <h5>{{'app.score.mastered' | translate}}</h5>
    </div>
    <div *ngIf="result >= 6 && result < 9">
      <fa-icon style="color: #5a84dd" class="fa-6x" [icon]="faSmile"></fa-icon>
      <h4 style="color: #5a84dd">{{result}}/10</h4>
      <h5>{{'app.score.good' | translate}}</h5>
    </div>
    <div *ngIf="result >= 4 && result < 6">
      <fa-icon style="color: #ff7b00" class="fa-6x" [icon]="faSadTear"></fa-icon>
      <h4 style="color: #ff7b00">{{result}}/10</h4>
      <h5>{{'app.score.ok' | translate}}</h5>
    </div>
    <div *ngIf="result < 4">
      <fa-icon style="color: #ff0000" class="fa-6x" [icon]="faTimesCircle"></fa-icon>
      <h4 style="color: #ff0000">{{result}}/10</h4>
      <h5>{{'app.score.bad' | translate}}</h5>
    </div>
  </div>
  <table mat-table #myTable [dataSource]="answers" class="mat-elevation-z2">
    <ng-container matColumnDef="prt">
      <th mat-header-cell *matHeaderCellDef>{{'app.label.question' | translate}}</th>
      <td mat-cell *matCellDef="let answer"><b>{{answer.question.prt}}</b></td>
    </ng-container>
  
    <ng-container matColumnDef="rightAnswer">
      <th mat-header-cell *matHeaderCellDef>{{'app.label.rightAnswer' | translate}}</th>
      <td mat-cell *matCellDef="let answer">
          <div> 
            <br>{{answer.question.answer}}
          </div>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="yourAnswer">
      <th mat-header-cell *matHeaderCellDef>{{'app.label.yourAnswer' | translate}}</th>
      <td mat-cell *matCellDef="let answer">
          <div> 
            <mat-icon color="primary" *ngIf="answer.question.answer === answer.answer">check_circle</mat-icon>
            <mat-icon color= "warn" *ngIf="answer.question.answer !== answer.answer">cancel</mat-icon>
            <br>{{answer.answer}}
          </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="button-area">
    <button mat-raised-button color="primary" (click)="resetGame()">{{'app.button.resetGame' | translate}}</button>
    <button mat-raised-button color="primary" (click)="seeAnswerKey()">{{'app.button.seeAnswerKey' | translate}}</button>
  </div>
</div>
