<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col s12 m6 l4">
    <div style="text-align:center">
        <button mat-raised-button [disabled]="selectedLanguage === 'en_US'" (click)="updateLanguage('en_US')">{{'app.en_US' | translate}}</button>
        <button mat-raised-button [disabled]="selectedLanguage === 'pt_BR'" (click)="updateLanguage('pt_BR')">{{'app.pt_BR' | translate}}</button>
    </div>
    <mat-card>
      <mat-card-title style="text-align:center">{{ 'app.title' | translate }}</mat-card-title>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer style="text-align:center">{{'app.footer' | translate}} - <a href="https://uncaffeperdue.com" target="_blank">Un caffè per due</a><br>{{'app.author' | translate}}</mat-card-footer>
    </mat-card>
  </div>
</div>
