@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*Link of the Materialize CSS: https://ampersandacademy.com/tutorials/angular-material/responsive-grid-layout-in-angular-material*/
@import "./assets/m-modified.css";

.button-area {
    text-align: center;
    margin: 1em 1em 1em 1em;
}

.button-area button {
    margin-right: 1em;
}